extends layout/base.pug 

//- append premet d'afficher avant le contenu existant 
//- prepend permet d'afficher apres le contenu existant
block header
    h1
        span(class="badge badge-pill badge-secondary") Page contact 
    br
    h4(class="display-4")
        u Formulaire de contact 
    h1(class="bounce") hhhhd

    


    