extends layout/base.pug

block content
    
 
    
    block form
    
            

    block zone
       form(method="post")
        div(class="from-group")
        div(class="jumbotron bg-secondary")
            h1(class="display 2") Inscription
            div(class="jumbotron bg-light")
                label(for="prenom")  Prenom
                input(type="text" name="prenom" id="prenom" class="form-control" placeholder="prenom")
                label(for="prenom")  nom
                input(type="text" name="nom" id="nom" class="form-control" placeholder="nom")
                br
                label(for="prenom") email
                input(type="text" name="email" id="email" class="form-control" placeholder="email")
                br
                label(for="prenom") mot de passe
                input(type="password" name="mot_de_passe" id="mot_de_passe" class="form-control" placeholder="password")
                
                hr(class="my-4")
        
                button(class="btn btn-primary") valider
            
            
